<!DOCTYPE html>
<html>
    <head>
        <title>
            The Dictionary
        </title>
    </head>
    <body>
        <header>
            <h1>The Dictionary</h1>
            <nav>
                <a href="">Account</a>
            </nav>
        </header>
        <div>
            {% block content %}

            {% endblock %}
        </div>
        <hr>
        <footer>All rights reserved 2021® <a href="https://www.youtube.com/watch?v=AwuTI7mvo0E">Some Large Pharmaceutical Corporation</a></footer>
    </body>
</html>